################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/All/DesignTimeBuild
/.vs/All/FileContentIndex
/.vs/All/v17/.futdcache.v2
/.vs/All/v17/.suo
/.vs/All/v17/DocumentLayout.json
/Util/bin/Debug
/Util/obj/Debug/net8.0/ref
/Util/obj/Debug/net8.0/refint
/Util/obj/Debug/GNodeUtils.1.0.0.nuspec
/Util/obj/Debug/net8.0/Util.AssemblyInfo.fs
/Util/obj/Debug/net8.0/Util.AssemblyInfoInputs.cache
/Util/obj/Debug/net8.0/Util.dll
/Util/obj/Debug/net8.0/Util.fsproj.CoreCompileInputs.cache
/Util/obj/Debug/net8.0/Util.fsproj.FileListAbsolute.txt
/Util/obj/Debug/net8.0/Util.pdb
/Util/obj/Debug/net8.0/Util.sourcelink.json
/UtilMaui/bin/Debug/net8.0
/UtilMaui/obj/Debug/net8.0/ref
/UtilMaui/obj/Debug/net8.0/refint
/UtilMaui/obj/Debug/net8.0/UtilMaui.AssemblyInfo.fs
/UtilMaui/obj/Debug/net8.0/UtilMaui.AssemblyInfoInputs.cache
/UtilMaui/obj/Debug/net8.0/UtilMaui.dll
/UtilMaui/obj/Debug/net8.0/UtilMaui.fsproj.AssemblyReference.cache
/UtilMaui/obj/Debug/net8.0/UtilMaui.fsproj.CoreCompileInputs.cache
/UtilMaui/obj/Debug/net8.0/UtilMaui.fsproj.FileListAbsolute.txt
/UtilMaui/obj/Debug/net8.0/UtilMaui.fsproj.Up2Date
/UtilMaui/obj/Debug/net8.0/UtilMaui.pdb
/UtilMaui/obj/Debug/net8.0/UtilMaui.sourcelink.json
/UtilMaui/obj/Debug/net8.0/UtilMaui.xml
/MauiFs/bin/Debug/net8.0-windows10.0.19041.0/win10-x64
/MauiFs/obj/Debug
/MauiFs/obj
/MauiFs/Platforms
/MauiFs/Resources
/MauiFsLogics/bin/Debug/net8.0
/MauiFsLogics/obj/Debug
/MauiFsLogics/obj
/.vs/ProjectEvaluation
