################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
**/obj/**
**/bin/**
**/.vs/**
/Util/Util/obj/Debug/net8.0/Util.AssemblyInfo.fs
/Util/Util/obj/Debug/net8.0/Util.AssemblyInfoInputs.cache
/Util/Util/obj/Debug/net8.0/Util.assets.cache
