################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
**/obj/**
**/bin/**
**/.vs/**
/Util/Util/obj/Debug/net8.0/Util.AssemblyInfo.fs
/Util/Util/obj/Debug/net8.0/Util.AssemblyInfoInputs.cache
/Util/Util/obj/Debug/net8.0/Util.assets.cache
/.vs/Common/v17/.wsuo
/.vs/slnx.sqlite
/Util/obj
TypeScriptVue/.npmrc
*.lock
TypeScriptVue/package-lock.json

# AI 调试临时文件
*.Backup.tmp
*.tmp
build_output.txt
build_err.txt
build_log.txt
server-out.txt
run_log.txt
*.lockb
